<iframe class="w-full h-full absolute" [src]="videoUrl" frameborder="0"></iframe>

<div class="bg-white h-screen">
    <div class="pt-[20%] px-24 absolute h-full text-white bg-gradient-to-r from-black">
        <h1 class="text-6xl font-bold">{{bannerTitle}}</h1>
        <p class="w-1/2 inline-block py-6 text-xl flex-wrap">{{bannerOverview}}</p>
        <div>
            <button class=" text-xl text-black bg-white rounded-lg py-4 px-12 font-bold hover:opacity-70 transition-[2s]">
                Play
            </button>
            <button class="mx-4 bg-gray-600 text-white px-12 py-4 text-xl opacity-50 rounded-lg hover:bg-white hover:text-black transition-[2s]">
                More Info
            </button>
        </div>
    </div>

</div>