<div class="absolute">
    <img src="https://raw.githubusercontent.com/thatanjan/netflix-clone-yt/youtube/media//banner.jpg" />
</div>
<div class="w-full md:w-3/12 absolute p-12 bg-black/90 my-36 mx-auto right-0 left-0 text-white rounded-lg">
    <h1 class="font-bold text-3xl py-4">Netflix Sign in</h1>
    <div id="google-btn-container">
        <!-- Container para o One Tap -->
        <div id="google-one-tap"></div>

        <!-- Container para o botão manual -->
        <div id="google-btn"></div>
    </div>
</div>